# Ignorar directorios generados por IntelliJ IDEA
.idea/

# Ignorar archivos de configuración específicos de IntelliJ IDEA
*.iml
*.iws
*.ipr

# Ignorar archivos de configuración de Gradle
.gradle/

# Ignorar archivos generados por el compilador Java
bin/

# Ignorar archivos de dependencias y caché de Gradle
build/
out/
.gradle/

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
